<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hi <%= @post.user.email %>,</h1>
  <p>
   <%=t("new_comment") %><%= @post.id %>,<br>
  </p>
  <p>
  <%= t("comment_in") %>: <%= @current_url %> :
  </p>
  <p>
   --------------------------------------------------------<br>
   ID: <%= @post.comments.last.id %><br>
   <%= t("Title") %>: <%= @post.comments.last.title_comment %><br>
   <%= t("Content") %>: <%= @post.comments.last.content_comment %><br>
   --------------------------------------------------------<br>
 </p>
 <p>This is mailer system, don't reply...<br>
  Mails was sent at: <%= Time.now %>
</p>
<p><%= t("thank_you")%></p>
</body>
</html>
