      <div id="pagebody">
        <tr>
          <td>
            <h2 class="fancy">
             <%= link_to post do %>
             <%= post.title %>
             <% end %>

           </h2>
           <div class="meta">
            <%= t("posted")%> <%= l(post.created_at) %> <%= t("by")%>
            <% unless post.user_id.blank? %>
            <% unless User.find_by_id(post.user_id).blank?
              @user=User.find(post.user_id)
              end  %>
              <% unless @user.blank? %>
              <span class="label label-default">
                <%= @user.email %>
              </span>
              <% end %>
              <% end %>
            </div>
            <div class="storycontent">
              <%= truncate_html(post.content, length: 255, omission: '...(continued)') %>
            </div>

            <div class="feedback">
              <%= post.comments.count %> <%= t("comment")%>
              <%= link_to post do %>
              <button class="btn btn-info" type="button"><%= t("show")%></button>
              <% end %>

              <% if can? :update, post %>
              <%= link_to edit_post_path(post) do %>
              <button class="btn btn-default" type="button"><%= t("edit")%></button>
              <% end %>
              <% end %>
              <% if can? :destroy, post %>
              <%= link_to post, method: :delete, data: {confirm: t("sure")} do %>
              <button type="button" class="btn btn-danger"><%= t("destroy")%></button>
              <% end %>

              <% end %>
            </div>
          </td>
        </tr>
      </div>
