<div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption><b>Listing posts</b></caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Num of Comment</th>
        <th>Control</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.comments.count %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
<br>
<%= link_to new_post_path do %>
<p><i class=" icon-plus-sign"></i> New Post</p>
<% end %>

<div class="page">
  <%= paginate @posts %>
</div>


