<p id="notice"><%= notice %></p>
<div class="clear">
  <%= link_to edit_post_path(@post) do%>
  <span class="glyphicon glyphicon-pencil"> <%= t("Edit")%> </span>
  <% end %> |
  <%= link_to posts_path do %>
  <span class="glyphicon glyphicon-hand-left"> <%= t("Back")%></span>
  <% end %>
</div>
<div id="content" class="panel panel-info">
  <div id="pa_ge" class="panel-heading">

    <blockquote class="blockquote">
      <h1><%= @post.title %></h1>
      <footer><%= @post.created_at.strftime("%d %B %Y") %></footer>
    </blockquote>

  </div>
  <div class="panel-body">
    <p>
      <strong>Content:</strong>
      <%= @post.content %>
    </p>
  </div>
</div>

<div class="panel panel-danger">
  <div id="pa_ge" class="panel-heading">
    <h2 id="comments_count"><%= pluralize(@post.comments.count, "Comment") %></h2>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="span8">
        <div id="reviews">
          <div id="comment">
            <%= render @comments %>
          </div>


          <div class="page">
            <%= paginate @comments %>
          </div>
        </div><!--/span-->
      </div>
      <div class="span4">
        <div class="comment">
          <h2>Add a comment:</h2>
          <%= render "comments/form" %>
        </div>
      </div>
    </div>
  </div>
</div>




