<p id="notice"><%= notice %></p>

<div id="content">
  <h1><%= @post.title %></h1>
  <div id="pa_ge">
    <div id="posts">
      <p>
        <strong>Content:</strong>
        <%= @post.content %>
      </p>
    </div>
  </div>
</div>
<div id="comment">
  <div class="comment_a">
    <h3>Comments</h3>
    <%= render @post.comments %>
  </div>
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
</div>
<div class="clear">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
